In [3]:
import pandas as pd

In [4]:
a = pd.DataFrame({'v1' : [1,2,3]})
b = pd.DataFrame({'v1': [4,5,6]})

In [6]:
pd.concat([a,b], ignore_index = True)

   v1
0   1
1   2
2   3
3   4
4   5
5   6